@import "libs/reset.scss";

body {
    background-color: #e5ecff;
}
a {
    text-decoration: none;
    color: black;
}
.logo {
    border-radius: 20px;
}
header {
    display: flex;
    justify-content: center;
    .header_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
        .logo {
            width:300px;
        }
            ul {
                display: flex;
                font-size: large;
                margin-top: 50px;
                gap: 100px;
            }
    }
}

main {
    span {
        margin-left: 150px;
        font-size: medium;
    }
    a {
        font-size: larger;
    }
    h1 {
        font-size: x-large;
    }
    .header {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    
    .accueil_top-content_left {
    display: flex;
    justify-content: center;
    
    }
    .accueil_top-content_left{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 20%;
        div {
            display: flex;
            flex-direction: column;
            gap: 80px;
        }
    }
    .content_mid {
        width: 40%;
        img {
            border-radius: 10px;
            margin-bottom: 20px;
        }
    }
    .content_right-1 {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 50px;
        div {
            display: flex;
            flex-direction: column;
            gap: 80px;
        }
    }
}

.carousel {
    display: flex;
    flex-direction: column ;
    align-items: center;
    margin-top: 100px;

    .content-carousel {
        display: flex;
        justify-content: center;
        width: 100%;

        .slclasse {
            opacity: 0.5;
            transition: opacity 0.5s ease;
            img {
                width: 200px;
                height: 200px;
            }
            &:nth-child(3) {
                opacity: 1;
            }
        }
    }

    .carousel-text {
        margin-top: 20px;
        text-align: center;
        width: 60%;
    }
}


footer {
    margin: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    .footer_contact ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
    }
    &nav ul {
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        gap: 4px;
        
    }
}

@media screen and (max-width: 768px) {

}


