@import "libs/reset.scss";

body {
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;

}
a {
    text-decoration: none;
    color: black;
}
.logo {
    border-radius: 20px;
}
header {
    display: flex;
    .header_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
            margin: 50px;
            img {
                width:fit-content;

            }
            ul {
                display: flex;
                gap: 10rem;
                font-size: large;
                margin: 50px;
            }
            li {
                width: 100%;
            };
    }
}

main {
    span {
        margin-left: 50px;
        font-size: meduim;
    }
    a {
        font-size: larger;
    }
    h1 {
        font-size: x-large;
    }
    .header {
        display: flex;
        justify-content: center;
        margin: 50px
    }
    
    .accueil_top-content_left {
    display: flex;
    justify-content: center;
    }
    .accueil_top-content_left-1 {
        
        width: 500px;
        height: 600px;
    }
    .content_mid {
        width: 500px;
        height: 600px; 
        background-color: aquamarine;
        img {
            display: flex;
            align-items: center;
            border-radius: 10px;
        }
    }
    .content_right-1 {
        width: 500px;
        height: 600px; 
        background-color: red;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }

    
    
}
.carousel {
    display: flex;
    flex-direction: column ;
    align-items: center;
    width: 100%;
    margin-top: 100px;

    .content-carousel {
        display: flex;
        justify-content: center;
        width: 100%;

        .slclasse {
            opacity: 0.5;
            transition: opacity 0.5s ease;
            img {
                width: 200px;
                height: 200px;
            }
            &:nth-child(3) {
                opacity: 1;
            }
        }
    }

    .carousel-text {
        margin-top: 20px;
        text-align: center;
        width: 60%;
    }
}


footer {
    margin: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    .footer_contact ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        gap: 4px;
        
    }

}


