
$primary-color: #ffff;
$secondary-color: #f1f1f1;
$tertiary-color: #9ebcff;
$button-color: #40ff50;
$title-color: #060f4c;
$gradient-color-top:linear-gradient(to top, #e5ecff, #9ebcff);
$gradient-color-bottom:linear-gradient(to bottom, #e5ecff, #9ebcff)