/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body {
  background-color: #e5ecff;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  border-radius: 20px;
}

header {
  display: flex;
  justify-content: center;
}
header .header_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
header .header_content .logo {
  width: 300px;
}
header .header_content ul {
  display: flex;
  font-size: large;
  margin-top: 50px;
  gap: 2%;
}
header .header_content a {
  padding: 5px;
}

main span {
  margin-left: 5%;
  font-size: medium;
}
main a {
  font-size: larger;
}
main h1 {
  font-size: x-large;
}
main .header {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
main #accueil_top {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
main .accueil_top-content_left {
  width: 20%;
}
main .accueil_top-content_left div {
  padding: 10px;
  text-align: center;
  gap: 80px;
}
main .content_mid {
  width: 40%;
}
main .content_mid img {
  border-radius: 10px;
  margin-bottom: 20px;
}
main .content_right {
  width: 20%;
  text-align: center;
  gap: 50px;
}
main .content_right div {
  padding: 10px;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.carousel .content-carousel {
  display: flex;
  justify-content: center;
  width: 100%;
}
.carousel .content-carousel .slclasse {
  opacity: 0.5;
  transition: opacity 0.5s ease;
}
.carousel .content-carousel .slclasse img {
  width: 200px;
  height: 200px;
}
.carousel .content-carousel .slclasse:nth-child(3) {
  opacity: 1;
}
.carousel .carousel-text {
  margin-top: 20px;
  text-align: center;
  width: 60%;
}

footer {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
}
footer .footer_contact ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
footer nav ul a {
  padding: 5px;
}

@media screen and (max-width: 768px) {
  .carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }
  .carousel .content-carousel {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .carousel .content-carousel .slclasse {
    opacity: 0.5;
    transition: opacity 0.5s ease;
  }
  .carousel .content-carousel .slclasse img {
    width: 100px;
    height: 100px;
  }
  .carousel .content-carousel .slclasse .carousel-text {
    margin-top: 20px;
    text-align: center;
    width: 60%;
  }
}

/*# sourceMappingURL=style.css.map */
